<section class='profile__details'>
  <dl class='profile__info'>
    <div class='profile__info-row'>
      <dt class='profile__info-label'>Почта</dt>
      <dd class='profile__info-value'>{{user.email}}</dd>
    </div>
    <div class='profile__info-row'>
      <dt class='profile__info-label'>Логин</dt>
      <dd class='profile__info-value'>{{user.login}}</dd>
    </div>
    <div class='profile__info-row'>
      <dt class='profile__info-label'>Имя</dt>
      <dd class='profile__info-value'>{{user.first_name}}</dd>
    </div>
    <div class='profile__info-row'>
      <dt class='profile__info-label'>Фамилия</dt>
      <dd class='profile__info-value'>{{user.second_name}}</dd>
    </div>
    <div class='profile__info-row'>
      <dt class='profile__info-label'>Имя в чате</dt>
      <dd class='profile__info-value'>{{user.display_name}}</dd>
    </div>
    <div class='profile__info-row'>
      <dt class='profile__info-label'>Телефон</dt>
      <dd class='profile__info-value'>{{user.phone}}</dd>
    </div>
  </dl>
</section>

<section class='profile__actions'>
  <div>
    <a href='/profile/change-data' class='profile__action'>Изменить данные</a>
  </div>
  <div>
    <a href='/profile/change-password' class='profile__action'>Изменить пароль</a>
  </div>
  <div>
    <a
      href='/signin'
      class='profile__action is-danger'
      aria-label='Выйти из профиля'
    >Выйти</a>
  </div>
</section>
